<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header }} from home page! 
        <p>{{screamIt wellcomeMessage}}</p>
    </body>
    {{> footer }}
</html>